@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h2 class="text-center mb-5 mt-3">Wszystkie produkty:</h2>


<div class=" container-fluid"  >
    <div class="row">
        @foreach (var p in Model)
        {
        <div class="col-12 col-sm-6 col-xl-4 ">
            <div class="card mb-2 text-center">
                <div class="card-header ">@p.Name</div>
                <div class="card-body">@p.Description</div>
                <div class="card-body">@p.Category</div>
                <div class="card-body">@p.Price</div>
                <div class="card-footer">
                    <form class="p-4" asp-action="Delete" method="post" asp-route-id="@p.ProductId">
                        <a asp-action="Edit" class="btn btn-dark"
                           asp-route-id="@p.ProductId">
                            Edit
                        </a>
                        <button type="submit" class="btn btn-dark">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</div>






